@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: calc(100vh - 10px);
  @apply flex flex-col;
}

section {
  @apply min-h-[200px];
}

main {
  @apply p-5 w-full flex-auto flex items-end;
}

.bar {
  @apply flex-auto border-2 border-black flex items-center justify-center text-sm text-white transition-[height] duration-200;
}

.bar:nth-child(odd) {
  background-color: #2e4f4f;
}

.bar:nth-child(even) {
  background-color: #0e8388;
}

button {
  @apply px-4 py-2 text-sm bg-blue-500 capitalize hover:bg-blue-600 text-white disabled:bg-blue-800 disabled:cursor-not-allowed
}